<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showdata</title>
</head>
<body bgcolor="gold">
    <center><h1>All Data</h1></center>
    <!-- {{stdata}} -->

    <!-- {% for i in stdata %}
    {{i.name}}
    {{i.email}}
    {{i.dob}}
    {{i.mobile}}
    {{i.address}}
    {% endfor %} -->

    <table border="2" align="center">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DOB</th>
            <th>EMAIL</th>
            <th>MOBILE</th>
            <th>ADDRESS</th>
            <th>Update Data</th>
            <th>Delete Data</th>
        </tr>
        {% for i in stdata %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.dob}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td><a href="/updatedata">Update</a></td>
            <td><a href="">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>