<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIData</title>
</head>
<body style="background-color: bisque;">
    <center><h1>Rest Countries Data</h1></center>
    <hr>
    <!-- {{data}} -->
    <!-- {% for i in data %}
    {{i.name.official}}
    {% endfor %} -->

    <table align="center" border="1">
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Flags</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.name.official}}</td>
            <td>{{i.region}}</td>
            <td><img src="{{i.flags.png}}" height="150" width="200"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>